.App {
	/* text-align: center; */
	width: 100vw;
	height: 100vh;
	background-color: #000000;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

/* .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
} */

.App-link {
	color: #61dafb;
}

.test {
	/* background-image: url('https://images.unsplash.com/photo-1684258663024-00ddd14a0eae?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8&auto=format&fit=crop&w=800&q=60'); */
}

.title {
	font-size: 55px;
	font-weight: 300;
	color: #ffffff;
}

.sneakersText {
	color: #ffffff;
}

.finalHeader {
	color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.slide {
	height: 200vh;
	width: 200vw;
}

.wrapper {
	display: flex;
	width: 200vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	background: #000000;
}

.container {
	height: 100vw;
	width: 100vh;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
}

.layer1 {
	/* position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vh;
	background-position: bottom;
	background-size: cover; */
	padding-top: 21px;
	padding-bottom: 683px;
	padding-left: 285px;
	padding-right: 349px;
	font-size: 55px;
	font-weight: 300;
	line-height: 65px;
	color: #ffffff;
}

.layer1 p {
	/* color: white; */
	width: 855px;
	height: 511px;
}

.l1 {
	font-size: 55px;
	font-weight: 300;
	line-height: 65px;
	color: #ffffff;
	position: absolute;
	width: 855px;
	height: 511px;
	top: 189px;
	left: 285px;
}

.layer2 {
	padding-left: 349px;
	padding-top: 250px;
	padding-right: 243px;
}

.link {
	padding-top: 91px;
}

.link a {
	color: #ffffff;
	text-decoration: none;
}

.nytLink a {
	color: #ffffff;
	text-decoration: none;
	font-size: 55px;
	font-weight: 300;
	line-height: 65px;
	padding-bottom: 116px;
}

.firstPassage {
	padding-top: 116px;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3 {
	font-size: 22px;
}

h4 {
	font-size: 23px;
}

.lastSlide {
	font-size: 40px;
	width: 15000px;
	height: 101px;
	padding-top: 459px;
}

.l2 {
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
